# .coveragerc - configure the HTML coverage report generation
# pytest-compatible configuration

[report]
omit =
    predict.py
    frameData.py
    __init__.py
    src/tests/**

# Exclude the following patterns.
exclude_also =
    import
    from
    """
    while True:
    if __name__ == .__main__.:

