# Exclude macOS binary
*.DS_Store

# Exclude out-of-tree build
build

# Exclude IDE clutter
.vscode
.idea
python-ml/__pycache__
python-ml/helpers
python-ml/venv
python-ml/opendlv/__pycache__
/datasets/venv
